/*****************************
General Styling 
******************************/
html, 
body {
	-webkit-text-size-adjust: none;
    height: 100%;
/*    padding: 0px;*/

}

body {
	background-color: transparent;
	font-family: 'Lato', Arial, sans-serif;
	font-size: .889rem;
	color: #392254;
}


a {
	font-family: 'Quicksand';
	font-weight: lighter;
}

.columns {padding: 0px;}

.column:last-child:not(:first-child) {
	float: none;
}
/*****************************
Psuedo Classes
******************************/

a:link,
a:visited {
	font-size: 1rem;
	color: #321D5B;
}

a:hover {
	color: #DCD1E8;
	text-decoration: overline;
}

.footer a:hover {
	color: #321D5B;
	font-weight: bold;
	text-decoration: none;
}

.footer a:link {
	font-size: .707rem;
	list-style-type: none;
}

.button:hover {
	color: #fff;
    background: linear-gradient(45deg, #FF66CC, #DDAE85);
	text-decoration: none;
}


/*****************************
Body Styling 
******************************/
h1 {
	font-family: 'Quicksand', Arial, sans-serif;
	font-size: 1.3rem;
	color: #695284;
	margin-top: 1.3rem;
	text-align: center;

}

h2 {
	font-family: 'Quicksand', Arial, sans-serif;
	font-size: 2.1rem;
	font-weight: light;
	color: gray;
	text-align: center;
	padding: 2rem 0 1rem 0;

}
.header {
	min-height: 100%;
	background-color: none;
	padding-bottom: 1.5rem;

}

.lovely {
	max-width: 100%;
	background-color: none;
	padding-top: 4rem;
 	text-align: center;
}

.lovelytitle {
	padding-bottom: 2.5rem;
}

.menu {
	background-color: white;
	width: 100%;
	text-align: center;
}

.menu li {	
	display: inline-block;
}

.menu li a {
	padding: .5rem 2rem;
}

.arrow {
	padding-top: 5rem;
	width: 12%;
}

.reiki {
	min-height: 100%;
	width: 100%;
/*	z-index: -10;*/
/*	position: relative;*/
	background-image: url(../img/watercolor.png);
	background-repeat: no-repeat;
	background-position: center;
	overflow: scroll;
	text-align: center;
}

.feed {
	min-height: 100%;

}

.about {
	min-height: 100%;
	overflow-y: scroll;
	padding: 3rem 0rem;
	background-color: #E1DAEA;
}
.about h2 {color: #fff}

.about p {color: #372E44;}

.pic {
	margin-bottom: 2.5rem;
	border-radius: 50%;
	display: block;
    margin-left: auto;
    margin-right: auto;
}

.content {
	text-align: left;
	padding: 1.5rem;
	background-color: transparent;
}

.appointment {
	min-height: 100%
	background-color: none;
	padding-top: 1rem;

}

label {
	color: gray;
}

.button {
  color: #E376B3;
  font-size: 1rem;
  letter-spacing: 2px;
  border: 2px solid transparent;
  border-image: linear-gradient(45deg, #FF66CC, #DDAE85);
  border-image-slice: 1;
  background: linear-gradient(45deg, #FF66CC, #DDAE85);
  -webkit-background-clip: text;
  text-fill-color: transparent;
  transition: all 0.3s ease; }

.footer li {
	list-style-type: none;
	float: right;
	color: #392254;
	margin: 0 1rem .5rem 0;
}

/*****************************
Media Queries 
******************************/	


@media screen and (min-width: 30em) and (max-width: 63em) {

	.lovelybanner {
		padding-top: .5rem;
		width: 50%;
	}

	.reiki { 
		padding-top: 4rem;
	}

}

@media screen and (min-width: 47em) {

		.content {
		padding: 1rem 5rem;
	}

}

@media screen and (min-width: 65em) {

	.lovely {
		padding-top: 1rem;
	}

	.menu {
		padding-top: 0rem;
	}

	.content {
		padding: 1rem 15rem;
	}

	.reiki {
	min-height: 100%;
	width: 100%;
	padding-top: 4rem;
/*	z-index: -10;*/
/*	position: relative;*/
	background-image: url(../img/watercolor.png);
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-position: center;
	overflow: scroll;
	text-align: center;
	}

}

@media screen and (min-width: 100em) {

	.lovely {
		padding-top: 2rem;
	}
}

@media screen and (min-width: 120em) {

	.lovely {
		padding-top: 6rem;

	}

	.lovelytitle {
		padding-top: 3rem;
		padding-bottom: 3rem;
	}

	.reiki {
		padding-top: 12rem;
	}

	.about .content {
		padding:  32rem;
	}
/*	.menu li a {
		font-weight: normal;
	}*/

}

/*****************************
Animation
******************************/	
.pulsate {
    -webkit-animation: pulsate 3s ease-out;
    -webkit-animation-iteration-count: infinite; 
    opacity: 0.5;
}
@-webkit-keyframes pulsate {
    0% { 
        opacity: 0.1;
    }
    50% { 
        opacity: 1.0;
    }
    100% { 
        opacity: 0.1;
    }
}

