html,
body {
	height: 100%;	
}

body {
	background-color: #fff;
	font-family: 'Lato', Arial, sans-serif;
	font-size: .889rem;
}

h1 {
	margin-bottom: 0;
}

/*.container {
	height: 100%;
	display: flex;
	justify-content: center;
	flex-direction: column;
	background-color: lightblue;
}*/

.name {
	width: 100%;
	padding: 2rem 1rem 0;
	background-color: white;
}

.firstname, .lastname {
	padding: 0;
}

.firstname h1 {
	background-color: inherit;
	font-size: 2.5rem;
	font-weight: bolder;
	letter-spacing: 3px;
}

.lastname h1 {
	padding-left: 2rem;
	background-color: inherit;
	font-size: 2.5rem;
	font-weight: bolder;
	letter-spacing: 2.5px;
}

/*.multitriangle img {
	margin: 0 auto;
	float: left;
}*/

.multitriangle  {
	text-align: center;
	padding: 0;
	/*transform: rotate(90deg);*/
}
/*********************************
Pseudo-classes
*********************************/

a:link {

}

a:hover {
	

}

/*********************************
Media Queries
*********************************/
@media and screen (min-width: 20rem) and (max-width: 30rem) {

}